.body {
    margin: 0;
}

.wrapper {
    background-color: #FFFFFF;
    position: relative;
    height: 100vh;
    width: 100%;
}

.logo {
    margin-left: 60px;
    margin-top: 50px;
}

.title {
    font-family: 'Krona One', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 125px;
    font-style: normal;
    font-weight: normal;
}

.left{
    font-size: 86px;
}

.right {
    font-size: 24px;
    display: flex;
    margin-left: 60px;
}

.right a {
    text-decoration: none;
    border-bottom: 3px solid #503E9D;
    padding-bottom: 16px;
    align-self: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

input:not(:first-child) {
    margin-top: 30px;
}

input {
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(80, 62, 157, 0.08);
    border-radius: 42px;
    padding: 20px 0 20px 45px;
    border: none;
    color: #503E9D;
    /*opacity: 0.3;*/
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    width: 430px;
}

button {
    background: #503E9D;
    border-radius: 60px;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 230px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Krona One', sans-serif;
    border: none;
    margin-top: 50px;
}

form {
    text-align: center;
}

.register-img {
    position: absolute;
    bottom: -13px;
    right: 110px;
}
.login-img{
    position: absolute;
    bottom: -11px;
    left: 225px;
}

